<section>
    <div>
        <video style="z-index: 0;" id="loginVideo"  preload="auto" playsinline autoplay class="videoBg" (ended)="endVideo()">
            <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/login_dealer.mp4" type="video/mp4">
        </video>
    </div>
    <span id="skip">
        <a class="nav-link sign" (click)="skip()" title="skip" role="button">
            Skip</a>
    </span>
</section>