<section>
    <div class="container-fluid" id="bg">
        <div class="row">
            <div class="col-md-7 col-sm-7">

            </div>
            <div class="col-md-5 col-sm-5" style="height: 100vh;">
                <div class="logo">
                    <!-- <img src="assets/fasenra/2.svg" alt=""> -->
                    <div id="icons_social">
                        <a href="https://www.facebook.com/india.acma/" target="_blank"> <img src="assets/fasenra/f.png">
                        </a>
                        <a href="https://www.linkedin.com/company/acma-india/" target="_blank"> <img src="assets/fasenra/li.png">
                        </a>
                        <a href="https://twitter.com/ACMAIndia" target="_blank"> <img src="assets/fasenra/t.png">
                        </a>
                    </div>
                </div>
                <div style="padding-right: 3rem !important;padding-left: 3rem !important;margin-top: 10rem;">
                <div id="loginSection">
                            <div style="background: #fff; color: #ec4040d6; text-align: center; line-height: 39px;border-radius: 5px; font-weight: 600" *ngIf="msg">{{msg}}</div>
                            <form action="" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
                                <!-- <div class="form-group text-center">
                                    <label>USERNAME</label>
                                    <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp">                                 
                                    <div *ngIf="(loginForm.get('name').invalid && formDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)" style="color:#f2c652; font-size: 12px;">Name is required*</div>
                                </div>  -->
                                <div class="form-group text-left">
                                    <label style="font-weight: 900;">Sign In</label><br />
                                    <label style="font-weight: 900;">Email</label>
                                    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter Your Email Id" disabled>                                 
                                    <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color:crimson;
                                    font-size: 13px;
                                    font-weight: bold;">Email is required*</div>
                                </div>
                                <div class="form-group text-left">
                                    <label style="font-weight: 900;">Registration Number</label>
                                    <input type="password" class="form-control" formControlName="pr" aria-describedby="emailHelp" placeholder="Enter Your Registration Number" disabled>                                 
                                    <div *ngIf="(loginForm.get('pr').invalid && formDir.submitted) || (loginForm.get('pr').dirty && loginForm.get('pr').invalid)" style="color:crimson; font-size: 13px;font-weight: bold;">Registration number is required*</div>
                                </div>  
                                <div id="submit-btn" style="margin-bottom: 20px;">
                                    <button class="btn" type="submit" style="width: 100%;margin-bottom: 3rem;font-size: 20px;font-weight: 900;" disabled>Submit</button><br />
                                    <a class="btn" style="width: 100%;font-size: 20px;font-weight: 900;" href="https://www.acma.in/61st-acma-annual-session.php" target="_blank">Spot Registration</a>
                                </div>     
                                <!-- <a style="    font-weight: 700;
                                color: burlywood;
                                font-size: small;" href="https://webinar.multitvsolution.com/systemcheck/index.html" target="_blank">Check System Requirements</a>                   -->
                            </form>
                        </div>
                </div>
                <!-- <div style="margin-top: 10%;"></div> -->
            </div>
            <!-- <div class="col-md-1 col-sm-1">

            </div> -->
            <!-- <div class="col-md-4 col-sm-4 mt-5" style="height: 335px;background-color: #1512126e;">
                <div class="row justify-content-md-center">
                    <div class="pl-5 pr-5">
                        <div id="loginSection">
                            <div style="background: #fff; color: #ec4040d6; text-align: center; line-height: 39px;border-radius: 5px; font-weight: 600" *ngIf="msg">{{msg}}</div>
                            <form action="" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
                               
                                <div class="form-group">
                                    <label >EMAIL ID:</label>
                                    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp">                                 
                                    <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color:#f2c652; font-size: 12px;">Email is required or email is not multitv domain*</div>
                                </div>
                                
                                <div id="submit-btn">
                                    <button class="btn" type="submit">LOGIN</button>
                                </div>                       
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">

            </div> -->
        </div>
        <!-- <div class="row" style="margin-top: -85px; position: fixed;">
            <img src="assets/fasenra/SPONSER.png" width="100%" alt="" s>
        </div> -->
    </div>
</section>