section{
    position: relative;
    width: 100%;
    height: 100%;
    #bg{
        background: url(../../assets/fasenra/login.gif);
        // background-position: center;
        background-size: cover;
        // background-repeat: no-repeat;
        background-repeat: round;
        height: 100vh;
        overflow-y: auto;
    }
}
.form-control{
    font-size: 1.5rem !important;
    // border-radius: 0.75rem;
    margin-bottom: 3rem;
    height: calc(2em + 0.75rem + 2px);
}
.logo {
    text-align: center;
    padding-top: 5%;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  .logo p {
    padding-top: 2%;
    color: #008591;
  }
#loginSection{
    label{
        color: #fff;
        font-size: 18px;
    }
    .form-control{
        color: #898989;
    background: #d8e1e4 !important;
    // border: 2px solid #138ed4;
    }
    #submit-btn{
        text-align: center;
        button{
            font-family: 'Oswald', sans-serif !important;
            // background: linear-gradient(90deg, #008591 0%, #003874 50%, #008591 100%);
            background-color: #c59259;
            color: #fefefe;
            padding: 5px 20px 5px 20px;
        }
        a{
            font-family: 'Oswald', sans-serif !important;
            // background: linear-gradient(90deg, #008591 0%, #003874 50%, #008591 100%);
            background-color: #c59259;
            color: #fefefe;
            padding: 5px 20px 5px 20px;
        }
    }
}
#icons_social{
    float: right;
    padding-right: 3rem !important;
    a{
        img{
            padding: 5px;
            width: 40px;
        }
    }
}