<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img src="../../../assets/fasenra/gallery.jpg" alt="" id="bgImg">
            <ng-container *ngFor="let p of [1,2,3,4]">
                <div id="pointer_{{p}}" (click)="showpdf(p)"></div>
            </ng-container>
            <div id="player_sec">
                <vg-player>
                    <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                        <vg-play-pause></vg-play-pause>
                        <vg-time-display></vg-time-display>
                        <!-- <vg-playback-button></vg-playback-button> -->
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <vg-buffering></vg-buffering>
                    <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" loop="true" autoplay="true"
                        vg-responsive="true" type="video/mp4">

                    </video>
                </vg-player>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content" style="border:none; background:transparent;">
        <div class="modal-body p-0">
            <!-- <embed [src]="relatedPdf" width="100%" height="500px" type=""> -->
            <iframe [src]="document" width="100%" height="600px" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</div>
 