<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img id="bgImg" src="../../../assets/fasenra/photobooth.jpg" alt="">
            <div id="pointer" title="Photobooth" (click)="showPhotobooth()">
                <div class="pulsating-circle"></div>
            </div>
        </div>
    </div>
</section>
<!-- photoboothModal -->
  <div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title text-white" id="photoboothModalLabel">Photo-op</h4>
          <button type="button" class="close" (click)="closePhotobooth()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <section id="section">
                <div id="content-wrap">
                    <div id="background">
                        <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                            <img id="camImg" src="../../../assets/fasenra/booth.png" width="100%" alt="">
                            <video #videoStream id="videobgStream" class="vid videoData" autoplay></video>
                            <div id="buttons">
                              <img src="../../../assets/ipf/images/photobooth/click.png" width="12%" (click)="capturePhoto()" alt="">
                              </div>
                        </div>
                        <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                            <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                            <div id="buttons">
                              <a href="{{img}}" download="screenshot.png">
                                <img src="../../../assets/ipf/images/photobooth/down.png" width="12%" (click)="downloadPic()" alt="">
                              </a>
                              <img src="../../../assets/ipf/images/photobooth/re.png" width="12%" (click)="reload()" alt="">                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  </div>