<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img src="assets/fasenra/stage_screen.jpg" alt="" style="width: 100%; height: 100vh;">
            <div id="playerPoint">
                <div id="player-wrapper" class="player-container"></div>
            </div>    
        </div>
        
        <!-- <div id="chatopen" routerLink="/eventhall/chat">CHAT</div> -->
        <!-- <div id="listItems">
            <ul>
                <li>
                    <a routerLink="/eventhall/qna">Q&A</a>  
                </li>
                <li>
                    <a routerLink="/eventhall/eventHallChat">Chat</a> 
                </li>
                <li>
                    <a (click)="clapping()">Clap</a> 
                </li>
                <li>
                    <a (click)="whistling()">Whistle</a> 
                </li>
            </ul>
        </div> -->
        <!-- <div id="hallChat" routerLink="/eventhall/eventHallChat">CHAT</div>
        <div id="chatopen" routerLink="/eventhall/qna">Q&A</div> -->
    </div>
</section>
<router-outlet></router-outlet>
<audio id="myAudioClap">
    <source src="assets/spmcil/audio/applause.wav" type="audio/wav">
    <source src="assets/spmcil/audio/applause.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="myAudioWhistle">
    <source src="assets/spmcil/audio/whistle.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>