<section id="section">
    <div id="content-wrap">
        <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">

        <div id="background">
            <img id="bgImg" src="../../../assets/fasenra/lobby.jpg" alt="">
            <!-- <video id="bgImg" src="https://d3ep09c8x21fmh.cloudfront.net/omni/lobby.mp4" autoplay loop></video> -->
            <!-- <div id="videobackground">
                <video id="lobbyBgVideo" width="100%" muted preload="auto" playsinline autoplay loop>
                    <source src="../../../assets/ipf/animations/IPAARENA_v05.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div> -->
            <div style="position: absolute;  top: 10%; left: 50%;
            transform: translate(-50%,-50%);" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                  {{getMsg}}
                </div>
              </div>
            <div id="onloadPlayer">
                <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay controls loop>
                    <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/suzuki.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 
            </div>
            <ng-container *ngFor="let x of pages">
                <a id="pointer_{{x.id}}" (click)="videoPlay(x.analytics);stepup(x.analytics);">
                    <div class="pulsating-circle" id="{{x.pulseId}}"></div>
                </a>
            </ng-container>
            <ng-container *ngFor="let x of popups">
                <a id="pointer_{{x.id}}" data-toggle="modal" attr.data-target="#{{x.datatarget}}" (click)="stepup(x.analytics)">
                    <div class="pulsating-circle" id="{{x.pulseId}}"></div>
                </a>
            </ng-container>
            <!-- <ng-container *ngFor="let x of allPdfs">
                <a id="pointer_{{x.id}}" (click)="openPdf(x.pdf)" title="{{x.id}}">
                    <div class="pulsating-circle"></div>
                </a>
            </ng-container> -->
        </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video style="z-index: 9999999;" playsinline id="auditorium_230" preload="auto" class="videoBg" (ended)="receptionEndVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/launchstage_dealer.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video style="z-index: 9999999;" playsinline id="click_photobooth" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/awards_dealer.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video style="z-index: 9999999;" playsinline id="click_breakout" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/omni/b2.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video style="z-index: 9999999;" playsinline id="click_lounge" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/q&a_dealer.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':helpDesk ? 'block': 'none'}" class="videoContainer">
    <video style="z-index: 9999999;" playsinline id="click_helpdesk" preload="auto" class="videoBg" (ended)="gotoHelpdeskOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/helpdesk_dealer.mp4" type="video/mp4">
    </video>
</div>
<!-- modal -->
<!-- <div class="modal fade" id="lobbyModal" tabindex="-1" role="dialog" aria-labelledby="lobbyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="border:none; background:transparent;">
        <div class="modal-body p-0">
            <iframe [src]="relatedPdf" width="100%" height="600px" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</div> -->

