<app-header></app-header>
<main>
    <!-- <div *ngIf="(livemsg) && (router.url !== '/auditorium/one')" id="livemsg" routerLink="/auditorium/one" title="Auditorium">
        <p>Event is about to start. Kindly proceed to Auditorium</p>
    </div> -->
    <!-- <div *ngIf="livemsg" id="livemsg" class="text-center" style="background: black;border-radius: 10%;height: 200px; width: 300px;">
        
    </div> -->
    <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
    
    <div class="route" *ngIf="routeNoti" (click)="gotoRoute(allmsg)">
        <div class="alert alert-success text-center" role="alert">
            <img src="assets/fasenra/2.svg" width="75%" alt=""><br>

            <h1 style="font-weight: bolder;text-transform: uppercase;">{{getMsg}}</h1><br>
            <button>JOIN</button>
        </div>
    </div>
    </div>
    <div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
        <video style="z-index: 9999999;" playsinline id="stage" preload="auto" class="videoBg" (ended)="receptionEndVideo()">
            <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/launchstage_dealer.mp4" type="video/mp4">
        </video>
    </div>
    <div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
        <video style="z-index: 9999999;" playsinline id="qna" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
            <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/q&a_dealer.mp4" type="video/mp4">
        </video>
    </div>
    <div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
        <video style="z-index: 9999999;" playsinline id="awards" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
            <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/awards_dealer.mp4" type="video/mp4">
        </video>
    </div>
    <router-outlet></router-outlet>
</main>

<app-agenda></app-agenda>
<app-feedback></app-feedback>
<app-help-desk></app-help-desk>
<app-speakers></app-speakers>