
#livemsg{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: hotpink;
    color: white;
    z-index: 100;
    border-radius: 5px;
    cursor: pointer;
    p{
        margin: 1px;
    }
}
.alert-success {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #3ac4f0 !important;
    border-radius: 25px !important;
    border: 2px solid;
}
button{
    border: 0;
    font-size: 20px;
    color: white;
    background: blue;
    font-weight: bolder;
    width: 30%;
    border-radius: 5px;
}
.route{
    width: 50%;
    position: absolute;  top: 45%; left: 50%;z-index: 100;
            transform: translate(-50%,-50%);
}