<section id="section">
    <div id="content-wrap">
        <div id="background">
            <div style="margin: 75px 10px;">
                <button appBtn>My Button</button>                
            </div>
        </div>
    </div>
</section>