<section id="section">
    <div id="content-wrap">
        <div id="background">
            <div class="container-fluid">
                <div id="container">
                    <div id="imgSlider">
                        <div id="up" class="mb-2" (click)="onScrollup()">
                            <i class="fa fa-angle-up"></i>
                        </div>
                        <div id="slideImages">
                            <ng-container *ngFor="let list of listImgs; let i = index">
                                <div id="listImg">
                                    <img id="listSliderImg" class="pic{{i+1}}" src="{{list.img}}" [ngStyle]="{'border': (i==showIndex)? '2px solid #2874f0':'none'}"
                                        alt="" (mouseenter)="onShowImage(list.img)" (click)="onShowImage(list.img)">
                                </div>
                            </ng-container>
                        </div>
                        <div id="down" class="mt-2" (click)="onScrolldown()">
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </div>
                    <div id="hoveringbox" class="pl-3">
                        <div id="imager" (touchmove)="move($event)" (mousemove)="move($event)" (mouseout)="mouseOut()">
                            <div id="rect" class="rect"><div id="cos"></div></div>
                            <img id="boximgid" class="boximgid" src="{{listedImg}}" alt="">
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-danger mt-2 mb-2 p-2" style="width: 48%;border-radius: 2px; margin-right: 2%;">
                                <i class="fa fa-shopping-cart"></i>
                                Add to Cart
                            </button>
                            <button class="btn btn-success mt-2 mb-2 p-2" style="width: 48%;border-radius: 2px;margin-left: 2%;">
                                <i class="fa fa-flash"></i>
                                Buy Now
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-3">
                            <div id="productDetail">
                                <div class="zoom" id="zoom"></div>
                                <h6 class="mt-3">
                                    <span style="color: #878787;display: block;font-weight: 500;">Puma&nbsp;</span>
                                    <span style="color: #212121; font-weight: 400;line-height: 1.4;">Regular Men Black Jeans</span>
                                </h6>
                                <div id="rate">
                                    <span>
                                        <span style="font-size: 18px;">₹999</span> &nbsp; 
                                        <span style="text-decoration: line-through;color: #878787;">₹9999</span> &nbsp;
                                        <span class="text-success">90% off</span>
                                    </span>
                                </div>
                                <div id="star">
                                    <span style="background:#26a541;border-radius: 12px;padding: 1px 7px;color: white;">4 <img src="../../../../assets/ipf/images/products/star.png" style="position: relative;top:-2px;" alt="">
                                    </span>&nbsp; &nbsp;
                                    <span style="font-size: 16px; color: #878787;">1,532 ratings and 169 reviews</span>
                                </div>
                                <div class="mt-2">
                                    <h6>Available offers</h6>
                                    <ul id="offers">
                                        <li *ngFor="let num of [1,2,3,4,5]">
                                            <img src="../../../../assets/ipf/images/products/pointer.png" alt="">
                                            <span style="font-weight: 600;">Bank Offer10%</span>
                                            <span> off on ICICI Bank Cards, up to ₹300. On orders of ₹1750 and above</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>