.modal-body{
    color:#005f85;
    padding: 25px 50px;
    #teamText{
        text-align: center;
        p{
            border-bottom: 2px solid#005f85;
            padding-bottom: 5px;
        }
    }
    #helpDeskMsg{
        #desklist{
            padding: 0;
            list-style-type: none;
            li{
                list-style-type: none;
                #desklist_message{
                    position: relative;
                    border-bottom: 2px solid;
                    padding: 5px 0 10px 0;
                    margin: 5px 0;
                    #desklist_text{
                        position: absolute;
                        top: 0;
                        left: 75px;
                    }
                }
            }
        }
    }
}

#inputTextMessage{
    margin-top: 36px;
    width: 100%;
    #inputText{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #005f85;
        width: 75%;
        outline: none;
        color:#005f85;
    }
    #sendMsg{
        float: right;
        #btn{
            color: white;
            background:#005f85;
            outline: none;
            border: 0;
            border-radius: 5px;
        }
    }
}